<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Use watermark</lang>
    </name>
    <author>
        <lang name="default">Web studio stfalcon.com</lang>
    </author>
    <homepage>http://stfalcon.com</homepage>
    <version>0.3.0</version>
    <requires>
        <livestreet>1.0</livestreet>
    </requires>
    <description>
        <lang name="default">The user can choose to use watermark or not</lang>
        <lang name="russian">Дает пользователю возможность выбора накладывать на загружаемое изображение водяной знак или нет. Также плагин может делать бекап оригиналов закачиваемых изображений до накладывания водяного знака</lang>
        <lang name="ukrainian">Дає користувачеві можливість вибору накладати на завантажуване зображення водяний знак чи ні. Також плагін може робити бекап оригіналів закачуваних зображень до накладання водяного знаку</lang>
    </description>
</plugin>

